*{
    padding: 0;margin: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    font-family:Helvetica 'Courier New', Courier, monospace;/* Hide horizontal overflow */
  }
  footer{
    margin: 0;padding: 0;
  }
/* header navigation bar starts */

.head{
    height: 88px;
    color: black;
    display:flex; font-size: 16px;
   

}
header{
    position: sticky;top:0px;background-color: white;z-index:4;
    border-bottom: 0.5px solid #dddd;
}
.he1{
    width:121px;height: 88px;
    display:flex;align-content: center;justify-content: center;
    align-items: center;

    
}
.he2 input{
    width:55px;border: none;
}
.he2 input::placeholder{
    width:55px;color: black;
}
.head i{
    margin-right: 10px;width: 16px;
}
.he2{
    width:103px;height: 88px; display:flex;align-content: center;justify-content: center;
    align-items: center;
}
.he3{
   flex-grow: 1;height:88px;display: flex;align-items: center;justify-content: center;
    
}
.he3_1 img{height: auto;width:226.94px ;
}
.he4{
    width: 240.89px;height:88px;display: flex;align-items: center;justify-content: space-evenly;
}
/* navbar ends */

/* main */
/* photo1 */
.p1{
   background-size: cover;
    flex-grow: 1;height: 669.89px;width: 100%;
    display: flex;align-items: flex-end;
   
    
}
.down{
    width:100%;height: 400.66px;
    background:linear-gradient(to bottom,rgba(5,5,5,0)0%,rgba(5,5,5,1)100%);z-index:3;
}

.p1_1{
    width:100%;height:40px;font-size: 32px;display:flex;
    justify-content: center;align-items: center;
    position:relative;top:220px ;color: white;
}
.Button{
    font-size: 16px;width: 100%;height:49.6px;display:flex;
    justify-content: center;align-items: center;position:relative;top:250px ;
      }
.b1,.b2{
width: 399.34px;height: 100%; border-radius:30px ;
background-color: transparent;border:2px white solid;color: white;
font: weight 300px;margin-right: 5px;margin-left: 5px;}


.b1:hover,.b2:hover{
    border:3px solid white;
}
.DOWN{
    position: sticky;bottom: 0px;
}


video{
    width: 100%;
    height: 669.89px;position: absolute; 
   
  
   
}
.vid5{
    object-fit:cover;
}
.vid6{
    object-fit:fill
}
/* icon */
.ic{
    height: 16px;background-color:transparent;display: flex;
    justify-content: space-between;margin-top: 250px;
}
.fa-pause{
    margin-left: 50px;
}
.fa-volume-xmark{
    margin-right: 50px;
}



/* FOOTER */



/* 1st section */
h3{
    width: 100%;height: 28px;color: #19110b;
    font-size: 24px;display:flex;
    justify-content: center;align-items: center;
    margin-top: 100px;font-weight: 300;

}
.inner{
    height: 80%;width: 100%;display: flex;
    justify-content: space-evenly;
}
.in1{
    width:372px;height:209px;
    background-size: cover;
}
.sent{
    width: 100%;height: 107px;margin-top: 229px;
    display: flex;flex-direction: column;justify-content: space-evenly;
}
.sent h5{
    font-size: 18px;font-weight:400;
}
.sent a,.sent p{
    font-size: 14px;color:#19110b;display: flex;
}
.underline{
    text-decoration: underline;
}
.no-underline{
    text-decoration: none;
}

/* second section */
.foot-p2{
    background-color: white;
    color:black;height: 420px;display: flex;justify-content: space-evenly;
    font-weight:lighter; border-bottom: 0.5px solid #dddd;
}
ul a{
   font-size: 14px;margin-top: 30px;
    color:black; display: flex;width: 270.31px;
   
}
ul p{
    margin-top: 40px; font-size: 10px;
}

.FP2{
    display: block; 
}
span{
    margin-left: 5px;
}
ul a{
    display: flex;
}

/* 3rd section */
.s3{
    margin: 24px 60.2625px;
    display: flex;flex-direction: column;justify-content: space-between;
    border: none;
}
.s3_1{
    width: 100%;height: 64px;font-size: 18px;display: flex;
    align-items: flex-end;justify-content: space-between;
}
.s3_2
{
    width:100%;height: 200px;
    margin: 12px 0px;color:rgba(25, 17,11,0.5);font-size: 12px;display: flex;
    
}
.S3_21{height:100%;width:50%;display: flex;flex-direction: column;
    justify-content: space-around;
}
.s3_3
{
    color:rgba(25, 17,11,0.5);height: 24px;font-size: 12px;
    
}
.s3withimage{
    display: flex;justify-content: center;align-items: center;
}
.s3_1 img{
    width: 154px;height: 16.31px;object-fit: cover;
}
.s3_11{
    width: 56.8px;height: 18.4px;font-size: 14px;display: flex;
    justify-content: space-between;
}
.s3_12{
    width: 182.8px;height: 64px;font-size: 14px;display: flex;
    justify-content: space-between;
    align-items: center;
}
.s3_11 img{
    width: 16px;height: 12px;
}